version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: elevator-postgres
    environment:
      POSTGRES_DB: elevatordb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: elevator-app
    depends_on:
      - postgres
    ports:
      - "8080:8080"
